* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf5e9;
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */
.current {
  background-color: var(--primary-color);
  font-weight: 600;
}

.bg-primary {
  background-color: var(--primary-color);
}

/* Container */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 2.4rem;
}

.container-lg {
  max-width: var(--container-wide);
}

.container-sm {
  max-width: var(--container--narrow);
}

/* Header */
.header {
  margin: 2.4rem auto;
}

.header .logo {
  width: 130px;
}

.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-menu ul {
  display: flex;
  gap: 1.6rem;
}

.header .main-menu a {
  padding: 0.8rem 1.6rem;
}

.header .main-menu a:hover {
  background-color: var(--primary-color);
}

/* Hero */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 4.8rem;
  line-height: 1.4;
  font-weight: normal;
}

/* Gallery */
.gallery .gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.gallery-item {
  width: calc(calc(100% / 3) - 20px);
}

.gallery-item img {
  border-radius: 11px;
}

.gallery-item:hover {
  opacity: 0.85;
}

/* Footer */
.footer {
  border-top: 1px solid #aaa;
  padding: 3.2rem 2.4rem;
  margin-top: 3.2rem;
}

.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer img {
  width: 12rem;
  height: 3.5rem;
  align-self: center;
}

.footer h4 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.footer a {
  margin: 0.32rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header .header-flex,
  .footer .footer-flex {
    flex-direction: column;
    gap: 2.4rem;
  }

  .hero {
    height: 300px;
  }

  .hero h2 {
    font-size: 2.8rem;
  }

  .gallery-item {
    width: calc(calc(100% / 2) - 20px);
  }

  .footer .footer-flex {
    align-items: center;
    text-align: center;
  }
}
