* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* UTILITY CLASSES */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.container-lg {
  max-width: 1400px;
}

.container-sm {
  max-width: 900px;
}

/* HEADER */
.header {
  margin: 2.4rem auto;
}

.header .logo {
  width: 130px;
}

.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-menu ul {
  display: flex;
  gap: 1.6rem;
}

.header .main-menu a {
  padding: 0.8rem 1.6rem;
}

.header .main-menu a:hover {
  background-color: #fcf5e9;
}

@media screen and (max-width: 768px) {
  .header .header-flex {
    flex-direction: column;
    gap: 2.4rem;
  }
}
